<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="@Url.Action("Index","SiteUsers")">Profile</a></li>
        <li><a href="@Url.Action("Edit","SiteUsers")">Edit</a></li>
        <li><a href="@Url.Action("MyJobs","SiteUsers")">Jobs</a></li>
        <li><a href="@Url.Action("JobsPosted","SiteUsers")">Projects</a></li>
        <li><a href="@Url.Action("ChangePassword", "Manage")">Change Password</a></li>
        <li><a href="@Url.Action("MyProPayment", "SiteUsers")">Project Payments</a></li>
    </ul>
</div>
