@model SiteUser
@{
    ViewBag.Title = "Dashboard";
}
<div class="compny-profile">
    @{ Html.RenderAction("UserNameDisplay", "SiteUsers"); }
    <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
        <div class="container">
            <div class="row">
                @{ Html.RenderPartial("_Partialheadbar"); }
                <div class="col-md-12">
                    <div class="tab-content">
                        <div id="profile" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="profile-main">
                                        <h3>About</h3>
                                        <div class="profile-in">
                                            @if (Model.imagepath != null)
                                            {
                                            <div class="media-left">
                                                <div class="img-profile"> <img class="media-object" src="@Url.Content(Model.imagepath)" alt=""> </div>
                                            </div>
                                            }
                                            else
                                            {
                                            <div class="media-left">
                                                <div class="img-profile"> <img class="media-object" src="" alt=""> </div>
                                            </div>
                                            }
                                            <div class="media-body">
                                                <p>
                                                    @Model.Description
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="sidebar">
                                        <h5 class="main-title">Professional Details</h5>
                                        <div class="sidebar-information">
                                            <ul class="single-category">
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Name</h6>
                                                    <span class="subtitle col-xs-6">@Model.FullName</span>
                                                </li>
                                                @*<li class="row">
                                                    <h6 class="title col-xs-6">Age</h6>
                                                    <span class="subtitle col-xs-6">38 Years Old</span>
                                                </li>*@
                                                <li class="row">
                                                    <h6 class="title col-xs-6">City</h6>
                                                    <span class="subtitle col-xs-6">@Model.City</span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Experiance</h6>
                                                    <span class="subtitle col-xs-6">@Model.Experiance</span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Dgree</h6>
                                                    <span class="subtitle col-xs-6">@Model.Degree</span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Career Lavel</h6>
                                                    <span class="subtitle col-xs-6">@Model.CareerLevel</span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Phone</h6>
                                                    <span class="subtitle col-xs-6">@Model.PhoneNumber</span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Email</h6>
                                                    <span class="subtitle col-xs-6">@Model.Email</span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Website</h6>
                                                    <span class="subtitle col-xs-6"><a href="#.">@Model.Website</a></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    @*<div class="sidebar">
                                        <h5 class="main-title">Rating</h5>
                                        <div class="sidebar-information">
                                            <ul class="single-category com-rate">
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Expertise:</h6>
                                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Knowledge:</h6>
                                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Quality::</h6>
                                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Price:</h6>
                                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
                                                </li>
                                                <li class="row">
                                                    <h6 class="title col-xs-6">Services:</h6>
                                                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar">
                                        <h5 class="main-title">Social Profiles</h5>
                                        <ul class="socil">
                                            <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#."><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>