<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/main-style.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/own.css" />
    <link rel="stylesheet" href="~/Scripts/ckeditor/contents.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div id="main-wrapper">
        <div class="toolbar">
            <div class="uou-block-1a blog">
                <div class="container" style="margin-bottom:9px;">
                    @*<div class="search">
                        </div>*@                    
                    <ul class="social">
                        @if (User.Identity.IsAuthenticated)
                        {
                            { Html.RenderAction("NotificationShow", "Home"); }
                        }
                        <li><a href="@Url.Action("MyFavList","Projects")" class="fa fa-heart" style="background-color: #f10dd0;"></a></li>
                    </ul>
                    <ul class="authentication">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                            <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("user"))
                            {
                                <li><a href="@Url.Action("Index", "SiteUsers")">Account</a></li>
                            }
                            if (User.IsInRole("admin"))
                            {
                                <li><a href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                            }
                            <li><a href="@Url.Action("LogOff", "Account")">Sign Out</a></li>
                        }
                    </ul>

                </div>
            </div>
        </div>
        <div class="box-shadow-for-ui" style="border-bottom: 1px solid #f1f1f1;">
            <div class="uou-block-2b">
                <div class="container" style="margin-bottom: -16px; margin-top: -16px;">
                    <a href="#"><img src="~/Content/images/logofree.jpg" alt="" style="width: 10%;"></a> <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
                    <nav class="nav">
                        <ul class="sf-menu">
                            <li class="active"><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                            @if (User.IsInRole("user"))
                            {
                                <li> <a href="@Url.Action("Index", "Projects")">Find Jobs</a> </li>
                                <li> <a href="@Url.Action("PostJob", "Projects")">Post Job</a> </li>
                            }
                            <li> <a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        @RenderBody()

    </div>
    @*<div class="uou-block-4a secondary dark">
        <div class="container">
            <ul class="links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
            <p>Copyright © 2015 <a href="#">UOUAPPS</a>. All Rights reserved.</p>
        </div>
    </div>*@
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/SignalR/Hubs"></script>



    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/superfish.min.js"></script>
    <script src="~/Scripts/jquery.ui.min.js"></script>
    <script src="~/Scripts/rangeslider.min.js"></script>
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/uou-accordions.js"></script>
    <script src="~/Scripts/uou-tabs.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    @*<script src="~/Scripts/owl.carousel.min.js"></script>*@
    @*<script src="~/Scripts/gmap3.min.js"></script>*@
    <script src="~/Scripts/scripts.js"></script>
</body>

</html>