@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="home-pro">
    <div class="banr-head">
        <div class="container">
            <div class="row">
                <div class="logreg">
                    <div class="login-sec">
                        <div class="uou-tabs">
                            <ul class="tabs">
                                <li class="active"><a href="#log-in">Member Login</a></li>
                            </ul>
                            <div class="content">
                                <div id="log-in" class="active">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        <br />
                                        <button type="submit">Login</button>
                                        <div class="forget">Forgot your password? <a href="@Url.Action("ForgotPassword","Account")">Click Here</a></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>