@using PagedList;
@using PagedList.Mvc;
@using FFYP.Controllers;
@model IPagedList<Project>

@{
    ViewBag.Title = "Job Search";
    string description = null;
}

<div class="search-pro">
    <div class="map-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Index", "Projects", FormMethod.Get))
                    {
                        <div class="map-search-fields">
                            <div class="field custom-select-box" style="position: relative;margin-right: 18px;width: 95%;float: left;display: inline-block;">
                                @Html.TextBox("search", null, new { @placeholder = "Search Job" })
                            </div>
                        </div>
                        <div class="search-button" style="margin-right: 60px;">
                            <button type="submit"><span> <i class="fa fa-search"></i> Search</span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="compny-profile">
    <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div id="jobs" class="tab-pane fade">
                            <div class="listing listing-1">
                                <div class="listing-section">
                                    @foreach (var item in Model)
                                    {

                                        {
                                            description = HttpUtility.HtmlDecode(item.Description).ToString().ToCharArray().Take(200).ToSystemString();
                                        }
                                        <div class="listing-ver-3">
                                            <div class="listing-heading">
                                                <h5>@item.Title</h5>
                                                <ul class="bookmark list-inline">
                                                    <li><a href="#">Posted on <i class="fa fa-clock-o"> @item.PostedDate.ToString("d")</i></a></li>
                                                </ul>
                                            </div>
                                            <div class="listing-inner">
                                                <div class="listing-content">
                                                    <h6 class="title-company">Posted by: <i class="fa fa-user"></i> @item.SiteUser.FullName</h6>
                                                    <span class="location"> <i class="fa fa-map-marker"></i> @item.Location </span> <span class="time"><i class="fa fa-clock-o"></i> @item.Duration </span>
                                                    <p>
                                                        @Html.Raw(HttpUtility.HtmlDecode(description))
                                                        <a href="@Url.Action("ProDetails", "Projects", new { id = item.ProjectID })">read more</a>
                                                    </p>
                                                    <h6 class="title-tags">Skills required:</h6>
                                                    <ul class="tags list-inline">
                                                        @foreach (var skill in item.SkillsRequired.ToString().Split(','))
                                                        {
                                                            <li><a href="">@skill</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pt20">
                        <ul class="uou-paginatin list-unstyled">
                            <li>
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @style = "margin-left: 423px;", @class = "active", search = Request.QueryString["search"] }), new PagedListRenderOptions()
                           {
                               Display = PagedListDisplayMode.Always,
                               DisplayLinkToLastPage = PagedListDisplayMode.Always,
                               DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                               DisplayLinkToNextPage = PagedListDisplayMode.Always,
                               DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                               MaximumPageNumbersToDisplay = 4
                           })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>