@model BidViewModels

@{
    ViewBag.Title = "Job Details";
}


<div class="compny-profile">
    <div class="profile-company-content" data-bg-color="f5f5f5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content">

                        <!-- PROFILE -->
                        <div id="profile" class="tab-pane fade in active" style="background:#f1f1f1; color:black;">
                            <div @*class="profile-main"*@ style="background:#f1f1f1">
                                <h3 style="background:#0099ff;color:#fff; padding-bottom:15px;padding-top:15px;">@Model.ProTitle</h3>
                                <div @*class="profile-in"*@ style="padding-left:30px;">
                                    @*<div class="image-part"> <img src="images/profile-img.jpg" alt=""> </div>*@
                                    <p>
                                        @Html.Raw(HttpUtility.HtmlDecode(Model.ProDescription))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">

                    <div class="sidebar">
                        <h5 class="main-title">@Model.ProTitle</h5>
                        @*<div class="sidebar-thumbnail"> <img src="images/company-thumb.jpg" alt=""> </div>*@
                        <div class="sidebar-information">
                            <ul class="single-category">
                                <li class="row">
                                    <h6 class="title col-xs-6">Location</h6>
                                    <span class="subtitle col-xs-6">@Model.Location</span>
                                </li>
                                <li class="row">
                                    <h6 class="title col-xs-6">Duration</h6>
                                    <span class="subtitle col-xs-6">@Model.Duration</span>
                                </li>
                                <li class="row">
                                    <br />
                                    @using (Html.BeginForm("SubmitPurposal", "Bidings", FormMethod.Get))
                                    {
                                        @Html.HiddenFor(model => model.ProjectID)
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        if (!User.Identity.IsAuthenticated)
                                        {
                                            <button type="submit" style="margin-left:80px; border:none; background:#0099ff;
                                                border-radius:30px;padding: 8px 30px; color: #fff; float:left;
                                                font-size: 14px; transition: all 0.3s;">
                                                Submit Purposal
                                            </button>
                                        }
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-5">
                                                        @if (Model.Status == false)
                                                        {
                                                            <button type="submit" style="background: rgb(0, 153, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); float: left; font-size: 14px; transition: all 0.3s ease 0s; border: medium none; padding: 4px 9px; border-radius: 9px;">
                                                                Submit
                                                            </button>
                                                        }
                                                    </div>
                                                    <div class="col-md-5">
                                                        @if (ViewBag.FavStatus == false)
                                                        {
                                                            <a href="@Url.Action("AddFav", "Projects", new { id = Model.ProjectID })" style="border: medium none; background: rgb(0, 153, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); transition: all 0.3s ease 0s; border-radius: 9px; padding: 4px 9px; float: left; font-size: 12px;">
                                                                <i class="fa fa-plus"></i> Favirout
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12">
                <div class="sidebar">
                    <h5 class="main-title">Other Bids</h5>

                    <!-- Similar -->
                    <div class="similar">
                        @{ Html.RenderAction("OtherBids", "Projects");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
